html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header div {
    text-align: center;
}

img {
    height: 10%;
    width: 10%;
}

h1 {
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 5px;
    margin-bottom: 150px;
    margin-top: 0;
    text-align: center; 
}

h2 {
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 5px;
}

ul {
    line-height: 32px;
}

tr {
    line-height: 24px;
    text-align: left;
}

.experiencia {
    padding-bottom: 180px;
}

footer {
    background-color: #005677;
    color: #ffff;
    text-align: center;
}

footer ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

footer ul li {
    font-weight: bold;
    padding-left: 15px;
}