*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;  
}

header {
    background-image: url("/root/img/banner.jpg");
    background-size: cover;
}

header div {
    text-align: left;
}

header nav {
    color: #ffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    padding: 5px;
    text-align: end;
}

header nav ul li{  
    padding-left: 64px;
}

a:link, a:visited, a:active{
    color: #ffff;
    text-decoration: none;    
}

img {
    height: 10%;
    width: 10%;
}

h1 {
    background-color: #C4C4C4;
    color: #273746;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    margin-bottom: 150px;
    margin-top: 0;
    text-align: center; 
}

h2 {
    background-color: #C4C4C4;
    color: #273746;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    padding-left: 15px;
}

ul {
    line-height: 32px;
    padding-left: 15px;
}

table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 15px 10px;
}

.experiencia {
    padding-bottom: 180px;
}

footer {
    background-color: #005677;
    color: #ffff;
    text-align: center;
}

nav ul, footer ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

footer ul li {
    font-weight: bold;
    padding-left: 15px;
}